{{>header}}
   <a href="/">США</a>
    <a href="/?region=gb">Британия</a>
    <a href="/?region=ru">Россия</a>
    <a href="/?region=kz">Казахстан</a>
    <a href="/?region=ua">Украина</a>
<h3>Популярные</h3>
<div class="row row-cols-2">
  {{#videos}}
 {{>video this id=id}}
  {{/videos}}
</div>
{{>footer}}