{{>header q=q}}
<div class="row row-cols-2">
  {{#videos}}

  {{#if id.videoId}}
    {{>video this id=id.videoId}}
  {{/if}}

  {{#if id.channelId}}
  <div class="centered col mb-3">
    <div class="card bg-light">
      <a href="/channels/{{id.channelId}}"><img class="card-img-top" src="{{snippet.thumbnails.high.url}}"></a>
      <div class="card-body px-2 py-1">
        <p class="card-text m-0 text-truncate"><small>{{snippet.title}}</small></p>
      </div>
    </div>
  </div>
  {{/if}}

  {{/videos}}
</div>
{{>footer}}