.centered {
  margin: 0 auto !important;
}

a:hover {
  opacity: 0.5;
}

.red {
  color: red;
}

.video-img-wrapper {
  position: relative;
}

.video-duration {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 3%;
  right: 3%;
  color: white;
}
